<!DOCTYPE html>
<% include header.ejs %>
<!--<% include headerTimepicker.ejs %>-->

<div class="container services">
<div class="well jumbotron">
<h1><%= title %></h1>
<p>This is a simple hero</p>
</div>
        <form action="/hw/editHW?homework_uuid=<%= result[0]._id %>" method="POST">
                <div class="form-group">
                  <label for="selectCourse">課程名稱</label>
                  <input  class="form-control" name="courseName" id="InputselectCourse" readonly value="<%= result[0].courseName %>">
                </div>
                <div class="form-group">
                  <label for="homeworkName">作業名稱</label>
                  <input class="form-control" name="homeworkName" id="InputhomeworkName" oninvalid="setCustomValidity('請填寫這個欄位');" value="<%= result[0].homeworkName %>" required>
                </div>
                <div class="form-group">
                <label for="dueDate">繳交期限</label>
                  <div class="input-group date" id="datetimepicker1">
                      <input type="text" class="form-control" name="dueDate" id="InputDueDate" oninvalid="setCustomValidity('日期格式錯誤');" value="<%= result[0].dueDate %>" required>
                      <span id="calendarInEditHW" class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="hwPercentage">比重</label>
                  <input  class="form-control" name="percentage" id="InputhwPercentage" placeholder="作業比重%" oninvalid="setCustomValidity('請填寫這個欄位');" value="<%= result[0].percentage %>" required>
                </div>
                <div class="form-group">
                    <label for="hwFileExtension">附屬檔名</label>
                    <input  class="form-control" name="fileExtension" id="InputhwFileExtension" placeholder="附屬檔名" oninvalid="setCustomValidity('請填寫這個欄位');"  value="<%= result[0].fileExtension %>" required> 
                  </div>
                <div class="form-group">
                  <label for="hwDescription">作業描述</label></br>
                  <textarea rows="3" cols="50" name="homeworkDescription" oninvalid="setCustomValidity('請填寫這個欄位');" required><%= result[0].homeworkDescription %></textarea>
                </div>
                <div class="checkbox" >
                  <label>
                    <% let checked = result[0].dueDateExtension ? "checked" : "" %>
                    <input type="checkbox" name="dueDateExtension" id="dueDateExtension" <%= checked %>  > 逾期補交
                  </label>
                </div>
                <button type="submit" id="submitInEditHW" class="btn btn-default">Submit</button>
        </form>
        <style>
          input:focus:invalid { 
            border-color: red; 
          }
        </style>
      </div>
<script type="text/javascript">
  $(function () {
      $('#datetimepicker1').datetimepicker({
          defaultDate:new Date()
      });
  });
</script>
</body>
</html>





