<!DOCTYPE html>
<% include header.ejs %>
<!--<% include headerTimepicker.ejs %>-->

<div class="container services">
<div class="well jumbotron">
<h1><%= title %></h1>
<p>This is a simple hero</p>
</div>
<table class="table table-inverse">
      <thead>
        <tr>
          <th>courseName</th>
          <th>homeworkName</th>
          <th>dueDate</th>
          <th>percentage</th>
          <th>fileExtension</th>
          <th>homeworkDescription</th>
          <th>editState</th>
        </tr>
      </thead>

      <tbody>
        <% for(var i=0; i < result.length; i++) { %>
       <tr>
        <td>
          <%= result[i].courseName %>
        </td>
        <td>
          <a href="/markHomework/<%= result[i]._id %>" title="<%= result[i]._id %>">
            <%= result[i].homeworkName %>
          </a>
        </td>
        <td><%= result[i].dueDate %></td>
        <td><%= result[i].percentage %></td>
        <td><%= result[i].fileExtension %></td>
        <td><%= result[i].homeworkDescription %></td>
        <td class="center"><a  class="btn btn-primary btn-sm"  href="/hw/edit/<%= result[i]._id %>">編輯作業</a></td>
       </tr>
    <% } %>
      </tbody>
</table>
<div class="center"><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary btn-lg center-block">新增作業</button></div>
    <!-- line modal -->
<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="lineModalLabel">新增作業</h3>
      </div>
      <div class="modal-body">
        <!-- content goes here -->
        <form action="/hw/addHW" method="POST">
                <div class="form-group">
                  <label for="selectCourse">課程名稱</label>
                  <input  class="form-control" name="courseName" id="InputselectCourse" value="<%= result[0].courseName %>" readonly>
                </div>
                <div class="form-group">
                  <label for="homeworkName">作業名稱</label>
                  <input class="form-control" name="homeworkName" id="InputhomeworkName" placeholder="第幾次作業">
                </div>
                <div class="form-group">
                <label for="dueDate">繳交期限</label>
                  <div class="input-group date" id="datetimepicker1">
                      <input type="text" class="form-control" name="dueDate" id="InputDueDate"/>
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="hwPercentage">比重</label>
                  <input  class="form-control" name="percentage" id="InputhwPercentage" placeholder="作業比重%">
                </div>
                <div class="form-group">
                    <label for="hwFileExtension">附屬檔名</label>
                    <input  class="form-control" name="fileExtension" id="InputhwFileExtension" placeholder="附屬檔名">
                  </div>
                <div class="form-group">
                  <label for="hwDescription">作業描述</label></br>
                  <textarea rows="3" cols="50" name="homeworkDescription"></textarea>
                </div>
                <div class="checkbox" name="lateSubmit">
                  <label>
                    <input type="checkbox"> 逾期補交
                  </label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
  $(function () {
      $('#datetimepicker1').datetimepicker({
          defaultDate:new Date()
      });
  });
</script>
</body>
</html>
