<% include header.ejs %>
<div class="container services">
<div class="well jumbotron">
<h1><%= result[0].studentID + title%></h1>
</div>
   <div class="container">
        <div class="row">
            <% if (locals.messages) { %>
            <div class="alert alert-danger" id=danger-alert>
                <button type=button class=close data-dismiss=alert>x</button>
                <strong><%= messages.msg %></strong>
            </div>
            <% } %>
            <script>
                $('#danger-alert').fadeTo(2000, 500).slideUp(500, function(){
                    $('#danger-alert').alert('close');
                    }); 
            </script>
            <form action="/markHomework/person/updateGrade?studentID=<%= result[0].studentID %>&homework_uuid=<%= result[0].homework_uuid %>" method="POST">
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>學號</th>
                            <th>姓名</th>
                            <th>繳交時間</th>  
                            <th>作業下載</th>                                       
                            <th>成績</th>
                        </tr>
                    </thead>   
                    <tbody>
                       <% for(var i=0; i < result.length; i++) { %>
                            <tr>
                                <td><%= result[i].studentID %></td>
                                <td><%= result[i].studentName %></td>
                                <td><%= result[i].submitTime %></td>
                                <td><a class="btn btn-info" href="/markHomework/person/download?studentID=<%= result[i].studentID %>&homework_uuid=<%= result[i].homework_uuid %>" title="下載同學作業" >下載作業</a></td>
                                <td><input type="text" id="grade" name="grade" value="<%= result[i].homeworkGrade %>"></td>
                            </tr>
                            <% } %>
                    </tbody>   
                </table><br>
                <div class="control-group" align="center">
                    <button type="submit" class="btn btn-danger">確定批改</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
<% include footer.ejs %>