<!DOCTYPE html>
<% include studentHeader.ejs %>
<style>
    th {
        text-align:center
    }
</style>
<div class="container services">
<div class="jumbotron" >
<h1><%= title %></h1>        
</div>
<div class="container">
    <div class="colum">
        <div class="span5 " >
            <% if (locals.messages) { %>
            <div class="alert alert-danger" id="danger-alert">
                <button type=button class=close data-dismiss=alert>x</button>
                <strong><%= messages.msg %></strong>
            </div>
            <% } %>
            <script>
                $('#danger-alert').fadeTo(2000, 500).slideUp(500, function(){
                    $('#danger-alert').alert('close');
                  }); 
            </script>


            <table class="table" >
                <tr>
                    <th >作業名稱</th>
                    <td><%= result.homework[0].homeworkName %></td>                              
                </tr>
                <tr>
                    <th>繳交期限</th>
                    <td><%= result.homework[0].dueDate %></td>
                </tr>
                <tr>
                    <th>附屬檔名</th>
                    <td><%= result.homework[0].fileExtension %></td>
                </tr>    
                <tr>
                    <th>比重</th>
                    <td><%= result.homework[0].percentage %></td>
                </tr> 
                <tr>
                    <th>逾時補交</th>
                    <td><%= result.homework[0].dueDateExtension ? "可以補交" : "不可補交" %></td>
                </tr>
                <tr>
                    <th>作業描述</th>
                    <td><%= result.homework[0].homeworkDescription %></td>
                </tr>                       
            </table>
            <form action="/listHomework/upload?homework_uuid=<%= result.homework[0]._id %>&studentID=<%= result.studentID %>" method="POST" align="center" enctype="multipart/form-data">
        
                <label align="center" >
                    <input type="file"  id="uploadFile" name="uploadFile"  accept=".<%= result.homework[0].fileExtension %>"  / required>
                    <label for="uploadFile" ></label>
                
                    <span style="width:100px">&nbsp;&nbsp;</span>
                    
                </label><br>
                <a align="center" class="btn btn-info" id="download_<%= result.studentID %>" href="/listHomework/download?homework_uuid=<%= result.homework[0]._id %>&studentID=<%= result.studentID %>">下載</a>
                
                
                <% let disabled = result.homework.canUpload ? "" : "disabled" %>
                <input type="submit" id="oktoUpload"class="btn btn-info" <%= disabled %>  value="確定上傳">
                <span style="width:100px">&nbsp;&nbsp;</span>
                <input type="reset" class="btn btn-default" value="取消">
            </form> 
        </div>   
    </div>
</div>
    
</div>


<% include footer.ejs %>